* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg-default: #000000;
  --color-white: #fff;
  --color-gray: gray;
}

body {
  background: var(--color-bg-default);
  background-image: url("../img/stars\ 1.png");
  background-blend-mode: lighten;
  background-attachment: fixed;
  scroll-behavior: smooth;
  font-family: sans-serif;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px 15px;
}

.profile .profile__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile .avatar {
  border-radius: 50%;
}

.profile__technologes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile h1 span {
  font-weight: 100;
  font-size: 16px;
  color: var(--color-gray);
}

.codewars {
  max-width: 400px;
  width: 100%;
}

.images {
  margin-top: 15px;
  margin-bottom: 15px;
  flex: 1 0 auto;
}

.images h1 {
  margin: 15px 0;
}

ul li:not(:last-child) {
  margin: 0 0 15px 0;
}

.image img {
  transition: all 300ms ease;
  border-radius: 14px;
  margin: 0 auto;
  width: 100%;
  height: 50%;
}

.image img:hover {
  box-shadow: 0px 0px 14px 0px whitesmoke;
}

.image {
  color: var(--color-white);
}

.social-links .social-link {
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 15px 0 0 0;
  color: whitesmoke;
}

.social-links .social-link:hover {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-underline-offset: 3px;
}
